// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin setFont($weight) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  letter-spacing: 1px;
}

@mixin setHeadline() {
  font-family: 'Knewave', cursive;
  font-size: 4rem;
  letter-spacing: 1.2px;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}