// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Color Palette //

$red: #AA0F0F;
$gray: #DCDCDC;
$blue: #3991CC;
$white: #FFF;
$black: rgba(0, 0, 0, 0.95);
$off-white: #EAEAEA;
$off-black: rgba(0, 0, 0, 0.7);