.footer {
  background: #000;
  width: 100%;
  margin: auto;
  padding: 50px 0px 20px 0px;

  position: relative;
  top: 200px;

  @include flex(row, space-around, flex-start);
  flex-wrap: wrap;

  img {
    height: 120px;
    width: 150px;
    padding: 20px;
    margin-left: 15px;
  }
  ul {
    color: white;
    @include setFont(300);
    font-size: 0.7rem;
    line-height: 150%;
    width: 40%;
    .title {
      @include setFont(400);
      font-size: 1.6rem;
      padding-bottom: 20px;
    }
    li {
      list-style-type: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .footer {
    top: 0px;
  }
  .footer ul {
    width: 20%;
  }
}
@media screen and (min-width: 1000px) {
  .footer ul {
    width: 12%;
  }
}

