.hero-banner {
  width: 100%;
  height: 80vh;
  // background: blue;
  text-align: center;
  image {
    margin: auto;
    position: center center;
    background: red;
  }
  h1 {
    @include setHeadline();
    font-size: 3rem;
  }
}
.linear {
  width: 100%;
  margin: auto;

  position: relative;
  top: -125px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;

  @include flex(column, center, center);
  .line {
    width: 2px;
    height: 100px;
    margin-top: 20px;
    background-color: $off-black;
  }
  button {
    color: white;
    width: 80%;
    border: none;
    margin: 5px;
    padding: 6px;
    background: $black;
    @include setFont(300);
    font-size: 1.8rem;
  }
}

.img-progress-bar {
  opacity: 0.2;
  height: 60px;
  position: relative;
  top: -500px;
  .dynamic-progress {
    width: 5px;
    height: 4px;
    background: $off-black;
  }
  @include flex(column, center, flex-start);
  display: none;
  h4 {
    @include setFont(700);
    font-size: 0.8rem;
  }
}

.womens-hero-container {
  @include flex(column, center, center);
  
  position: relative;
  top: -50px;
  
  width: 100%;
  img {
    height: 71px;
    width: 106px;
  }
  .medium-line {
    margin: auto;
    position: relative;
    width: 2px;
    height: 100px;
    margin: 20px 0px;
    background-color: $off-black;
  }
  .img-container {
    margin: auto;
    height: 350px;
    width: 350px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: linear-gradient(to right bottom, $blue, $red);
  }
}

.mens-hero-container {  
  position: relative;
  top: 120px;
  
  @include flex(column, center, center);
  img {
    height: 71px;
    width: 106px;
  }
  .medium-line {
    margin: auto;
    position: relative;
    width: 2px;
    height: 100px;
    margin: 20px 0px;
    background-color: $off-black;
  }
  .images-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    @include flex(row, space-between, flex-start);
    h1 {
      width: 30%;
      margin-left: 20px;
      margin-top: 60px;
      @include setHeadline();
      font-size: 2.4rem;
    }
  }
  #right-img {
    height: 225px;
    width: 45%;
  }
  #left-img {
    height: 300px;
    width: 35%;
    display: none;
  }
}

@media screen and (min-width: 300px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 100%;
  }
}
@media screen and (min-width: 400px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 100%;
  }
  .mens-hero-container {
    #right-img {
      height: 300px;
      width: 48%;
    }
    .images-container h1 {
      font-size: 3rem;
    }
  }
}
@media screen and (min-width: 750px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 98%;
  }
  .hero-banner h1 {
    font-size: 4rem;
  }
  .womens-hero-container {
    top: -300px;
  }
  .mens-hero-container {
    top: -100px;
    #right-img {
      height: 450px;
      width: 48%;
    }
    #left-img {
      display: block;
    }
    .images-container h1 {
      font-size: 4rem;
      margin: 0 auto;
    }
  }
  .linear {
    top: -350px;
    .line {
      height: 400px;
    }
    button {
      width: 30%;
      font-size: 1.4rem;
    }
  }
}
@media screen and (min-width: 1024px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 95%;
  }
  .mens-hero-container {
    #right-img {
      height: 500px;
      width: 40%;
    }
    #left-img {
      display: block;
      height: 400px;
    }
    .images-container h1 {
      font-size: 4rem;
      margin-left: 80px;
      margin-top: 40px;
    }
  }
}
@media screen and (min-width: 1280px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 95%;
  }
}
@media screen and (min-width: 1500px ) {
  .hero-banner, .img-progress-bar, .division,
  .womens-hero-container, .product-list-container,
  .mens-hero-container {
    margin: auto;
    width: 92%;
  }
  .mens-hero-container {
    #right-img {
      height: 500px;
      width: 30%;
    }
    #left-img {
      display: block;
      height: 500px;
    }
    .images-container h1 {
      font-size: 6rem;
      margin-left: 70px;
      margin-top: 80px;
    }
  }
}